<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" th:href="@{/assets/css/styles.css}"></link>

<title>home</title>
</head>
<body>


           <div id="errorP">Error 404 Page
           
           Page Not found!
           
            <ul>
                <li> <a th:href="@{/secured/loginUser}">loginUser</a>  </li>
                <li> <a th:href="@{/secured/loginAdmin}">loginAdmin</a>  </li>
            </ul>   
         </div>
</body>
</html>