<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>AttendanceSignIn</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" th:href="@{/assets/css/mainMenu.css}"></link>
</head>
<body>



 
 <div th:insert="mainMenu :: header">
  </div> 
  
   
   
    <div  id="main-wrapper" >
              <h1> Attendance SignIn</h1>                      
               <p>  welcome   <i th:text="${headerMsg}"></i>  </p>              
        <form  th:action="@{/secured/attendanceSignIn}" method="post" th:object="${attendanceSignIn}">
                  <table  id="table_id">
                
                 <tr>
                    <th >User Name:</th>
                    <td><input type="text"   th:field ="*{userName}" th:name="attendanceSignIn.userName" th:value="${attendanceSignIn.userName}" id="form-control"  disabled required="required"  /></td>
                  
                </tr>
                
                
                
                  <tr>
                    <th >Sign In:</th>
                    <td><input type="text"  th:field ="*{startDate}" th:name="attendanceSignIn.startDate" th:value="${attendanceSignIn.startDate}" id="form-control" disabled required="required" /></td>
                  
                </tr>
               
                
                <tr hidden="true">
                    <th >Sign Out:</th>
                    <td><input type="text"   th:field ="*{endDate}"  th:name="attendanceSignIn.endDate" th:value="${attendanceSignIn.endDate}" id="form-control" disabled  required="required" /></td>
                </tr>
               
                
                
                   <tr>
                              
                   <td><button type="submit" id="btn-submit">Submit</button></td>
                </tr>
                
                
                
              
                
                 </table>
                 
                 
                 
              
        
        </form>
         
    </div>
            
             <div id="footer" >                         
                           
                            <p th:include="footer :: copy"></p>
              </div>
             
              

</body>
</html>